<!-- <body> -->
<!-- <h1>{{title}}</h1> -->
<!-- <div class="dropdown"> -->
  <!-- <button onclick="myFunction()" class="dropbtn">What's your mood?</button> -->
  <!-- <div id="myDropdown" class="dropdown-content"> -->
    <!-- <a href="playlist.hbs">Happy</a> -->
    <!-- <a href="#">Angsty</a> -->
    <!-- <a href="#">Sad</a> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <script type="text/javascript" language="javascript" src="../javascripts/script.js"></script> -->
<!-- </body> -->
