<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/background.css'>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nemoy" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/pecita" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

  <div class="holder">
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">

  <div class='everything'>
    <div class='thecontent'>
    <h1>{{title}}</h1>
    <h2>show us how you really feel</h2>


    <!-- Submit photo -->
      <p>Enter an <a href='https://imgur.com/upload' target='_blank'><b>imgur</b></a> link of your face (.jpg only) and get a playlist that matches your mood</p>
      <form action='#' id='urlEntry'>Link:<br>
        <input type='text' name='link' class='form-control' id='link' placeholder="https://_____________.jpg" style = "text-align:center"><br>
        <button type="submit" class="myButton">Submit</button>
      </form>


    <p>or</p>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Pick a mood</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/playlist/happy">Happy</a>
        <a href="/playlist/angsty">Angsty</a>
        <a href="/playlist/sad">Sad</a>
        <a href="/playlist/unknown">Surprise me</a>
      </div>

     </div>
   </div>


   <div class='bottomlogo'>
     <a href="https://github.com/fpreimesberger/BigMood" target='_blank'><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="git"></a>
   </div>
</div>
    <script type="text/javascript" language="javascript" src="../javascripts/script.js"></script>
    <script type="text/javascript" language="javascript" src="../javascripts/emotion.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{{body}}}
  </div>
</div>

  </body>
</html>
