<body>
<h1>Detect Faces:</h1>
 <button onclick="getEmotion('https://theblazingcenter.com/wp-content/uploads/2011/02/angry-kid.jpg')">Analyze face</button><br><br>
 <div id="wrapper" style="width:1020px; display:table;">
     <div id="jsonOutput" style="width:600px; display:table-cell;">
         Response:<br><br>

         <textarea id="responseTextArea" class="UIInput"
                   style="width:580px; height:400px;"></textarea>
     </div>
 </div>
  <!-- <script src=“http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js“></script> -->
</body>
