<!-- <body> -->
<!-- <h1>Detect Faces:</h1> -->
 <!-- <button onclick="getEmotion(downloadURL)">Analyze face</button><br><br> -->
 <!-- <div id="wrapper" style="width:1020px; display:table;"> -->
     <!-- <div id="jsonOutput" style="width:600px; display:table-cell;"> -->
         <!-- Response:<br><br> -->
<!--  -->
         <!-- <textarea id="responseTextArea" class="UIInput" -->
                   <!-- style="width:580px; height:400px;"></textarea> -->
     <!-- </div> -->
 <!-- </div> -->
<!-- </body> -->
