<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/background.css'>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nemoy" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/pecita" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
  </head>
  <body>
  <!-- Firebase import -->
  <div class="holder">
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>

  <div class='everything'>
    <div class='thecontent'>
    <h1>{{title}}</h1>
    <h2>tell us how you really feel</h2>


    <!-- Submit photo -->
    <p>Give us an imgur link of your face</p>
    <form method='POST' action='/process'>Link:<br>
      <input type='text' class='form-control' id='link' name='link' placeholder="LINK"><br>
      <input type="submit" value="Submit" />s
    </form>


    <p>or</p>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Pick a mood</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/playlist/happy">Happy</a>
        <a href="/playlist/angsty">Angsty</a>
        <a href="/playlist/sad">Sad</a>
        <a href="/playlist/unknown">Surprise me</a>
      </div>

    <!-- MS API  -->
      <h1 class='text-align-center'>Detect Faces:</h1>
       <button onclick="getEmotion('https://previews.123rf.com/images/bowie15/bowie151401/bowie15140100071/39843011-angry-face-man.jpg')">Analyze face</button><br><br>
       <div id="wrapper" style="width:1020px; display:table;">
           <div id="jsonOutput" style="width:600px; display:table-cell;">
               Response:<br><br>

               <textarea id="responseTextArea" class="UIInput"
                         style="width:200px; height:20px;"></textarea>
           </div>
       </div>
     </div>
   </div>



    </div>
    <script type="text/javascript" language="javascript" src="../javascripts/script.js"></script>
    <script type="text/javascript" language="javascript" src="../javascripts/emotion.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {{{body}}}
  </div>
</div>

  </body>
</html>
