<!DOCTYPE html>
<html>
  <head>
    <!-- <title>{{title}}</title> -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/background.css'>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nemoy" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/pecita" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
  </head>
  <body>
  
    {{{body}}}
  </div>
</div>

  </body>



</html>
