<!DOCTYPE html>
<html>
  <head>
    <!-- <title>{{title}}</title> -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/background.css'>
    <link rel="icon" href="http://aiconica.net/previews/0f337a24e7e8b30b32fcdee04f527751ab15888a5a39656c35bc4e79d3d046cd_100x100.png" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nemoy" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/pecita" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
  </head>
  <body>

    {{{body}}}
  </div>
</div>

  </body>



</html>
