<head>
  <link rel='stylesheet' href='/stylesheets/emotion-background/angstyBackground.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>Your Results</title>
</head>
<div class="holder">
<!-- <div class="everything"> -->
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
    <!-- <div class='everything'> -->
      <!-- <div class='thecontent'> -->
        <!-- anger, contempt, disgust, fear -->
        <h3>You seem to be feeling <b>{{mood}}</b></h3>
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX3YSRoSdA634" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <!-- {{playlist}} -->
      <!-- </div> -->
    </div>
  </div>
<!-- </div> -->
