<!-- anger, contempt, disgust, fear -->
<h3>You seem to be feeling {{mood}}</h3>
<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX3YSRoSdA634" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<!-- {{playlist}} -->
