<head>
  <link rel='stylesheet' href='/stylesheets/results_style.css'>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nemoy" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/pecita" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
</head>
<h3>You seem to be feeling {{mood}}</h3>
<iframe src="https://open.spotify.com/embed/user/casafebusplm/playlist/7dlDBSON8kWYTu24fIspyK" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<!-- {{playlist}} -->
