<head>
  <link rel='stylesheet' href='/stylesheets/emotion-background/sadBackground.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>Your Results</title>
</head>
<div class="holder">
  <!-- <div class="everything"> -->
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
    <h3>You seem to be feeling <b>{{mood}}</b></h3>
    <iframe src= {{playlist}} width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <br>
    <a href="../"><button class = "myButton">Try Again</button></a>

  </div>
</div>
