<html>
    <head>
        <script type="text/javascript" src="../javascripts/playlists.js"></script>
    </head>
    <body>
        <h1>Mood: Sad</h1>
        <script type="text/javascript">
          var sad_music = [<iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX38EeD6pDm10" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>, <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DXarebqD2nAVg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>];
          console.log("sad");
          document.write(sad_music[0]);
       </script>
    </body>
</html>
