<h3>You seem to be feeling {{mood}}</h3>
<iframe src="https://open.spotify.com/embed/user/112303057/playlist/0YPvVs1050RHGAuzdWOjtM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
