<head>
  <link rel='stylesheet' href='/stylesheets/emotion-background/unknownBackground.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>Your Results</title>
</head>
<div class="holder">
  <!-- <div class="everything"> -->
  <div class="first"></div>
  <div class="second"></div>
  <div class="third"></div>
  <div class="txt">
    <h3>We're not sure what you're feeling</h3>
    <iframe src="https://open.spotify.com/embed/user/devonford_/playlist/52QNQgAGRrLTb1Al8Tjv9A" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <!-- {{playlist}} -->
    <br>
    <a href="../"><button class = "myButton">Try Again</button></a>

  </div>
</div>
